 <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Claire de lune <span>.</span></a>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/realtimeproducts">Real Time Products</a>
            <a href="/chat">Chat</a>
            <a href="/products">Products Page</a>
            <a href="/profile">Profile</a>
            {{!-- <a href="/signup">Sign Up</a> --}}
            {{!-- <a href="/login">Login</a> --}}
        </nav>
            <div class="iconos">  
            <a href="#" class="fas fa-shopping-cart" id="verCarrito"></a>
            </div>
    </header>

<h2 id="title">Chat</h2>
<hr>
<input type="text" id="mensaje">
<div id="mensajes"></div>


<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/chat.js"></script>
