<h2 class="titulo">Login usuarios:</h2>
<hr>
<form action="/api/sessions/login" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    {{#if mensaje}}
        <div style="color: green;">{{mensaje}}</div>
    {{/if}}
    
    <input class="input"type="email" name="email" placeholder="email">
    <input class="input"type="password" name="password" placeholder="password">
    <br>
    <input class="submit"type="submit" value="Ingresar">
</form>