  <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Claire de lune <span>.</span></a>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/realtimeproducts">Real Time Products</a>
            <a href="/chat">Chat</a>
            <a href="/products">Products Page</a>
            <a href="/profile">Profile</a>
            <a href="/signup">Sign Up</a>
            {{!-- <a href="/login">Login</a> --}}
        </nav>
            <div class="iconos">  
            <a href="#" class="fas fa-shopping-cart" id="verCarrito"></a>
            </div>
    </header>

<h2 class="titulo">Login usuarios:</h2>
<hr>
<form action="/api/sessions/login" method="post">

    {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}

    {{#if mensaje}}
        <div style="color: green;">{{mensaje}}</div>
    {{/if}}
    
    <input class="input"type="email" name="email" placeholder="email">
    <input class="input"type="password" name="password" placeholder="password">
    <br>
    <input class="submit"type="submit" value="Ingresar">
     <div class="btn-signup-login-container">
        <button type="button" class="btn-login-gh" onclick="window.location.href = '/api/sessions/github'">Login with GitHub</button>
    </div>
    <div class="btn-signup-login-container">
        <button type="button" class="btn-signup-login" onclick="window.location.href = '/signup'">Sign up</button>
    </div>
</form>