{{!-- <h2>Products</h2>
<hr>
<ul>
    {{#each productos}}
    <li>{{this.title}}</li>
    {{/each}}
</ul>

<br><br>
<a href="/">Home</a>

<script src="socket.io/socket.io.js"></script>
<script src="js/productos.js"></script> --}}
 <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <dv class="logo">Claire de lune <span>.</span></dv>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/realtimeproducts">Real Time Products</a>
            <a href="/chat">Chat</a>
            <a href="/products">Products Page</a>
            <a href="/profile">Profile</a>
            {{!-- <a href="/signup">Sign Up</a>
            <a href="/login">Login</a> --}}
        </nav>
            <div class="iconos">  
            <a href="#" class="fas fa-shopping-cart" id="verCarrito"></a>
            </div>
    </header>
<h2 class="titulo">ADD PRODUCTS</h2>
<form id="addProductForm" enctype="multipart/form-data" class="mt-5 mx-5 pt-3 px-5">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="Description">
    <br>
    <label for="code">Code</label>
    <input type="text" name="code" placeholder="Code">
    <br>
    <label for="price">Price</label>
    <input type="number" name="price" placeholder="Price">
    <br>
    <label for="stock">Stock</label>
    <input type="number" name="stock" placeholder="Stock">
    <br>
    <label for="category">Category</label>
    <input type="text" name="category" placeholder="Category">
    </select>
    <br>
    <label for="thumbnail">Image (DOES NOT WORK)</label>
    <input type="file" name="thumbnail">
    <br>
    <button ontype="submit">ADD</button>
</form>

<div id="cardProductsContainer" class="app-content container"></div>

<section class="carrito-contenido" id="carrito-contenido"></section>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/productos.js"></script>