<h2>Products</h2>
<hr>
<ul>
    {{#each productos}}
    <li>{{this.title}}</li>
    {{/each}}
</ul>

<br><br>
<a href="/">Home</a>

<script src="socket.io/socket.io.js"></script>
<script src="js/productos.js"></script>